/* Hide all examples by default */
.lj_example {
    display: none;
  }
  
/* Show examples with the 'active' class */
.lj_example.active {
display: block;
}

.lj_page {
  background-color: #A3A3A3; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  padding: 10px 15px; /* Adjust padding as needed */
  margin: 5px; /* Add spacing between buttons */
  cursor: pointer; /* Change cursor on hover */
}

/* Style for the active button */
.lj_page.active {
  background-color: #ff9900; /* Active button background color */
}

/* Hide all examples by default */
.libri_example {
  display: none;
}

/* Show examples with the 'active' class */
.libri_example.active {
display: block;
}

.libri_page {
background-color: #A3A3A3; /* Button background color */
color: #fff; /* Text color */
border: none; /* Remove border */
padding: 10px 15px; /* Adjust padding as needed */
margin: 5px; /* Add spacing between buttons */
cursor: pointer; /* Change cursor on hover */
}

/* Style for the active button */
.libri_page.active {
background-color: #ff9900; /* Active button background color */
}


/* Hide all examples by default */
.ablation_example {
  display: none;
}

/* Show examples with the 'active' class */
.ablation_example.active {
display: block;
}

.ablation_page {
background-color: #A3A3A3; /* Button background color */
color: #fff; /* Text color */
border: none; /* Remove border */
padding: 10px 15px; /* Adjust padding as needed */
margin: 5px; /* Add spacing between buttons */
cursor: pointer; /* Change cursor on hover */
}

/* Style for the active button */
.ablation_page.active {
background-color: #ff9900; /* Active button background color */
}